<div class="editPost">
	<h1>Schedule A Post</h1>

	<%= form_for @post do |f| %>

		<%= f.label :eta, class: "label" %>
	  <%= f.datetime_field :eta %>

	  <%= f.label :sender, class: "label" %>
	  <%= f.text_field :sender %>

	  <%= f.label :recipients, class: "label" %>
	  <%= f.text_field :recipients %>

	  <%= f.label :subject, class: "label" %>
	  <%= f.text_field :subject %>

	  <%= f.label :body, class: "label" %>
	  <%= f.text_area :body %>

	  <%= f.submit nil, class: "submit" %>
	<% end %>
</div>